html {
	background: rgba(34,193,195,0.6);
	background: radial-gradient(circle, rgba(34,193,195,0.7) 0%, rgba(253,187,45,0.7) 100%); 
}
body {
	font-family: 'Roboto', sans-serif;
}

body h1 {
	font-weight: 300;
	font-size: 2.5em;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}
main {
	display: flex;
}
.map {
	height: 80vh;
	width: 100%;
}
ul {
	padding: 2em;
}
.commentaires {
  background: darkkhaki;
  border: 1px solid white;
  margin-bottom: 2em;
  padding: 1em;
  display: none
}
#streetView {
	height: 80vh;
	width: 100%;
}
.list .filter {
	display: flex;
	margin: 2em;
}
.list .filter p {
	align-self: center;
}
.list .filter input[type="number"] {
	width: 40%;
	padding: 1.5em;
	margin: 2em;
}
.list .filter .min, .list .filter .max {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	width: min-content;
}
.list .filter label {
	padding-left: 2em;
}